# Python バイトコード・キャッシュ
__pycache__/
*.py[cod]

# Cython ビルド生成物
*.c
*.cpp
*.so
*.pyd  # ← Windows用のビルド生成物
*.dll
*.exp
*.lib

# ビルドディレクトリ
build/
dist/

# Jupyter Notebook チェックポイント
.ipynb_checkpoints/

# VScodeのディレクトリ
.vscode/

# テスト用ファイル
pattern_test_easy.py
easy_test_nanperiod.py
test_nanperiod.py
*.egg-info

# 例外
!search_com_keys.cpp
!search_com_keys_diff.cpp
!bedcm_search_keys_bin_diff_openMP_ver2.cpp
!bedcm_search_keys_bin_ver_uint16.cpp
!bedcm_search_keys_bin_diff_ver_uint16.cpp
!bedcm_search_keys_bin_diff_openMP_ver_uint16.cpp
!bin2csv_uint16.cpp
!bedcm_search_keys_bin_diff_openMP_ver_uint16_pruning.cpp
!bedcm_search_keys_bin_ver_uint16_pruning.cpp
!bedcm_search_keys_bin_ver_uint16_pruning_lim.cpp
!bedcm_search_keys_bin_diff_openMP_ver_uint16_pruning_lim.cpp
!bedcm_search_keys_bin_openMP_ver_uint16_search_one_pruning_ver2.cpp